<html>
    <head>
        <title>Speak Tachl7it</title>
    </head>
    <body>
        <h1>Speak Tachl7it</h1>
        <h2>Numbers</h2>
        <p> Enter A number between one and one million,
            and it will be translated to Tamazight. </p>
        <form method="POST" action="/">
            <input type="number" name="number" min="0" max="1000000">
            <button type="submit">Translate</button>
        </form>
        {% if result %}
        <p>Your number in Tamazight is pronounced as :</p>
        <h3>{{result}}</h3>
        {% endif %}
    </body>
</html> 
